body {
    font-family: Century Gothic, sans-serif;
    font-weight: 400;
    background-color: #212529;
}


.splitter {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    position: relative;
}

.split-view-header {
    padding-top: 5px;
    width: 100%;
    color: gray;
    text-align: center;
}

#separator {
    cursor: row-resize;
    background-color: #495057;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='10'><path d='M0 2 h30 M0 5 h30 M0 8 h30' fill='none' stroke='black'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 100%;

    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#first {
    background-color: #212529;
    flex-grow: 0;
    /* Remove flex-grow */
    height: calc(50vh - 25px);
    /* Set a fixed height */
    overflow-y: auto;
    /* Make the container scrollable */
    min-height: 40px;
}

#second {
    background-color: #212529;
    flex-grow: 0;
    /* Remove flex-grow */
    height: calc(50vh - 25px);
    /* Set a fixed height */
    overflow-y: auto;
    /* Make the container scrollable */
    min-height: 40px;
}


#add-item {
    display: flex;
    padding: 10px;
    width: 100%;
    background-color: #2b3035;
}

#item-input {
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid #2b3035;
    border-radius: .375rem;
    padding: 5px;
}

#add-button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: .375rem;
}



.delete-button {
    width: 32px;
    height: 32px;
    text-shadow: 1px;
    cursor: pointer;
    text-align: center;


    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: .375rem;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #2b3035;
    margin: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-radius: .375rem;
}

.input-field {
    background-color: #495057;
    color: white;
}

.input-field:focus {
    border-color: blue;
    /* Set the border color to blue when focused */
    outline: none;
    /* Remove the default browser outline */
}


/* Change the color of the search cancel button to white */
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    margin-left: .4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
    /* Set the color to white */
}